* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
	
	min-height: 100vh;
	
    padding: 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bg-color {
    flex: 1;
}

.header {
    background-color: transparent;
    padding: 20px;
    color: #fff;
    text-align: center;
    position: relative;
	
    width: 100%;
}

.logo-image {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Show horizontal menu by default */
    flex-direction: row;

    width: 100%;
	
	position: relative;
	z-index: 2000;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

li a:hover, .dropdown:hover .dropbtn {
    color: gray;
}

li.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.delete-account {
    color: red;
    font-weight: bold;
}

.delete-account:hover {
    background-color: #ffcccc;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background-color: black;
    width: 100%;
}

/*CART*/

.fa-shopping-cart {
    font-size: 24px; /* Adjust size as needed */
    color: black;
}

.fa-shopping-cart:hover {
    color: gray;
}

/*FOOTER CUSTOMIZATION*/
.footer {
    background-image: url('footer.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.footer-rights {
    font-size: 17px;
    color: white;
    padding: 0 10px; /* Add some padding for smaller screens */
    cursor: context-menu;
}

/*HAMBURGER MENU*/
.menu-toggle {
    display: none; /* Hide by default */
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    z-index: 2000; /*test*/
    float: left;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: gray;
    margin: 5px auto;
    transition: 0.3s;
}

/*PRODUCT DISPLAY*/
.carousel-container {
	margin-top:10px;
    width: 80%;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Center the carousel */
	margin-bottom:10px;
}

.product-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
    flex: 0 0 auto;
    margin: 0 10px;
	margin-bottom:10px;
	
	
}

.product img {
    /*width: 70%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;*/
	
	width: 70%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: contain; /* Ensures the image scales properly within the set dimensions */
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product h2 {
    color: #ff4500;
    margin: 0;
    font-size: 1rem;
}

.product h1 {
    color: #333;
    font-size: 1.5rem;
    margin: 10px 0;
}

.product p {
    color: #777;
    font-size: 1rem;
    margin: 10px 0;
}

button {
	margin-bottom:10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 5px;
    font-size: 1rem;
}

button.learn-more {
    background-color: #007bff;
}

button.buy {
    background-color: #007bff;
}

button.buy:hover {
    background-color: #0056b3;
}

.carousel-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    ul {
        top: 150px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute; /* overlay menu */
        left: 0;
        background-color: #d3d3d3;
        display: none; /* Hide menu by default */
		z-index: 2000;
    }

    ul.active {
        display: flex; /* Show menu when active */
		z-index: 2000;
    }

    .menu-toggle {
        display: block;
    }

    .dropdown-content {
        width: 100%;
    }
    
    .bar {
        margin-top: 20px;
    }
	
	.carousel-container{
		top:10px;
	}
	
	.cart {
        position: static;
        margin-top: 10px;
    }
	
	.product-container {
        z-index: 1; /* Ensure it's behind the menu */
    }
}
