* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}

/* BACKGROUND IMAGE AT MAIN PAGE */
.bg-img {
    background-color: black;
    background-image: url("bg_img.jpg");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1; /* Ensure this is below the .blur */
}

/* HEADER */

.header {
	overflow: hidden;
    background-color: transparent;
    padding: 20px;
    color: #fff;
    position: relative;
    z-index: 3; /* Ensure this is above .blur */
    text-align: center; /* Center-align the content */
}

.header a {
	margin-top:20px;
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 15px; 
	line-height: 25px;
	border-radius: 4px;
	text-shadow: 2px 2px 5px black;
	display: inline-block; /* Make links inline-block */
}

.header a.logo {
	position: absolute;
	right: 45%;
	font-size: 30px;
	font-family: Bradley Hand;
	font-style: cursive;
	letter-spacing: 1px;
	margin-top:10px;
}

.header a:hover {
  color: #F0C116;
}

.header a.active {
  background-color: #F0e130;
  color: white;
}

.header-left {
	float: left;
  	left:9%;
	top:0;
	margin-top: 80px;
	margin-left:10px;
	position:fixed;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-left {
    float: none;
  }
}

/* BLUR THE BG_IMAGE */
.blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Ensure this is above .bg-img */
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
	filter: brightness(50%);
    pointer-events: none; /* Prevent interaction with the blurred layer */
}



/* FOOTER CUSTOMIZATION */
.footer {
    background-image: url('footer.jpg');
    min-height: 151px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1; /* Ensure this is below the .header */
}
